<div class="row">
  <div class = "col-7">
   <div class ="card">
     <h4 class ="card-title">estilios</h4>
     <hr>
     <div class="r-panel-body">
        <ul id="themecolors" class="m-t-15">
            <li><b>Con el sidebar claro</b></li>
            <li><a #linkA1 (click)="cambiarcolor('default', linkA1 )" data-theme="default" class="selector default-theme">1</a></li>
            <li><a #linkA2 (click)="cambiarcolor('green', linkA2 )" data-theme="green"   class="selector green-theme">2</a></li>
            <li><a #linkA3 (click)="cambiarcolor('red', linkA3 )" data-theme="red"     class="selector red-theme">3</a></li>
            <li><a #linkA4 (click)="cambiarcolor('blue', linkA4 )" data-theme="blue"    class="selector blue-theme">4</a></li>
            <li><a #linkA5 (click)="cambiarcolor('purple', linkA5 )" data-theme="purple"  class="selector purple-theme">5</a></li>
            <li><a #linkA6 (click)="cambiarcolor('megna', linkA6 )" data-theme="megna"   class="selector megna-theme">6</a></li>
            
            <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
            <li><a #linkB1 (click)="cambiarcolor('default-dark', linkB1 )" data-theme="default-dark" class="selector default-dark-theme">7</a></li>
            <li><a #linkB2 (click)="cambiarcolor('green-dark', linkB2 )" data-theme="green-dark"   class="selector green-dark-theme">8</a></li>
            <li><a #linkB3 (click)="cambiarcolor('red-dark', linkB3 )" data-theme="red-dark"     class="selector red-dark-theme">9</a></li>
            <li><a #linkB4 (click)="cambiarcolor('blue-dark', linkB4 )" data-theme="blue-dark"    class="selector blue-dark-theme working">10</a></li>
            <li><a #linkB5 (click)="cambiarcolor('purple-dark', linkB5 )" data-theme="purple-dark"  class="selector purple-dark-theme">11</a></li>
            <li><a #linkB6 (click)="cambiarcolor('megna-dark', linkB6 )" data-theme="megna-dark"    class="selector megna-dark-theme">12</a></li>
        </ul>
    </div>
   </div>
  </div>
</div>



